@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@layer base {
  body {
    @apply font-[Merriweather];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.div-pics {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.div-pics:hover {
  background-image: linear-gradient(
    to right,
    #6A00F4,
    #B100E8
  );
}