@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@layer base {
  body {
    @apply font-[Merriweather];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.div-pics {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.div-pics:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.8),
      hsla(242, 74%, 61%, 0.8)   
  )!important;
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX }

  .active {
    color: #db00b6;
  }